.whole-window {
    background-color: beige;
    height: 100vh;
    width: 100%;
    place-content: center;
}

img {
    width: 100%;
}

.overlay {
    text-align: center;
    font-size: 24px;
}

.page-number {
    font-size: 24px;
}

.prev-next {
    position: absolute;
    top: 50%;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 24px;
    border-radius: 7px;
}

    .prev-next:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }

    .prev-next:disabled {
        background-color: transparent;
        color: rgba(255, 255, 255, 0.5);
    }

.pagination {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: 0;
    height: 10px;
    width: 10px;
    padding: 0 5px 0 5px;
    margin: 0 5px 0 5px;
}

    .pagination:hover {
        background-color: rgba(0, 0, 0, 0.6);
    }

.pagination-active {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    border: 0;
    height: 10px;
    width: 10px;
    padding: 0 5px 0 5px;
    margin: 0 5px 0 5px;
}

    .pagination-active:hover {
        background-color: rgba(0, 0, 0, 0.6);
    }
