.whole-list {
    background-color: beige;
    height: 100vh;
    min-width: 250px;
    position: relative;
}

*{
    box-sizing: border-box;
}

.inputs {
    width: 100%;
    padding: 50px 25px 0px 25px;
}

/* Style the input */
.to-do-input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

/* Style the "Add" button */
.special-btn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    border: hidden;
}
    .special-btn:hover {
        background-color: #bbb;
    }

    .special-btn:disabled {
        background-color: #eee;
        cursor: default;
    }

.title {
    color: #bbb;
    text-align: center;
}

/* Remove margins and padding from the list */
ul {
    margin: 60px 25px 0px 25px;
    padding: 0;
}

/* Style the list items */
ul li {
    padding: 5px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Set all odd list items to a different color (zebra-stripes) */
    ul li:nth-child(odd) {
        background: #f9f9f9;
    }

    /* Darker background-color on hover */
    ul li:hover {
        background: #ddd;
    }

    /* When clicked on, add a background color and strike out text */
    ul li.checked {
        background: #888;
        color: #fff;
        text-decoration: line-through;
    }

        /* Add a "checked" mark when clicked on */
        ul li.checked::before {
            content: '';
            position: absolute;
            border-color: #fff;
            border-style: solid;
            border-width: 0 2px 2px 0;
            top: 10px;
            left: 16px;
            transform: rotate(45deg);
            height: 15px;
            width: 7px;
        }

/* Style the close button */
.close {
    float: right;
    background-color: transparent;
    border: none;
    cursor: pointer; 
    padding: 0;
}

.close-icon {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.checkbox {
    cursor: pointer;
}

.selected-div{
    padding: 25px 25px 0px 25px;
    display: flex;
    justify-content: flex-end;
}
